.features
{
    color: rosybrown;
    padding-left:250px;   
    
}
.main_page
{
    margin-left:200px;
    border-style: solid ;                                                               
    margin-right:100px; 
    background-color:#ebebeb;
    box-shadow:20px,20px;        
    position:relative;
    height:1120px;
}
.navbar
{         
  list-style: none;
  background-color:buttonface;
  position:fixed;
  left:200px;
  right:100px;
  top:0px;
  z-index:9999;
  width:1050;
 
}
.navbar:hover
{
color:green;
background-color: grey;                
 }
            li
            {
                margin-bottom:5px;
                display:inline-block;
                padding-left: 12px;
                padding-bottom: 12px;
                margin-top: 12px;
               
            }
            #img
            {
                position: relative;
                float:left;
            }
            .div_images
            {
                float:left;
                width:300px;
                           
            }    
            .card card-container
            {
                float:left;
                padding-left: 900px;                
            }
.products_features            
{
 width:300px;
 height:300px;
 float:left;
 padding-left:50px;
}
            body{
           postition:absolute;   
           background-color:#284a5d; 
            }
            
 .login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
.login-body {
 background-color:#284a5d;  
 font-family: "Roboto", sans-serif;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;      
}
.products
{
margin:0px;
padding: 0px;
vertical-align: 0px;
}
.middle_page
{
    margin-bottom:15px;
    vertical-align: 0px;
    
}
.products_div
{
   padding:0px;
   margin:0px;
 vertical-align:0px; 
 overflow:auto;
}
 #p
 {
   
    color:royalblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size:50px;
    
 }
 .img
 {
     
     height:300px;
     
 }
 .text
 {
     position: absolute;
     margin-top: -300px;
     padding-left:50px;
     
 }
 .slide-div
 {
     color:green;
     font-family: Arial, Helvetica, sans-serif;
     font-size:50px;
     padding-left:350px;
 }
 .Notice_div
 {
     position: fixed;
     padding-top:50px;
     color:whitesmoke;
     width:200px;
     float:left;
     list-style: none;
     list-style-type: none;
 }
 .notice_link
 {
     color:whitesmoke;
     list-style: none;
 }
 .notice_link:hover{
     color:whitesmoke;
 }